@import "base";
.heros{
    position: relative;
    .hero{
        position: relative;
        padding: 10rem/@fontSize;
        .content{
            border: 3rem/@fontSize solid #333;
            position: relative;
            color: white;
            background-repeat: no-repeat;
            background-size: 30rem/@fontSize;
            background-position: right top;
            .title{
                height: 33rem/@fontSize;
                line-height: 30rem/@fontSize;
                font-size: 20rem/@fontSize;
                border-bottom: 3rem/@fontSize solid #333;
                span{
                    padding: 0 15rem/@fontSize;
                }
            }
            .pic{
                height: 203rem/@fontSize;
                background-image: url("../image/书龙-01.png");
                background-repeat: no-repeat;
                background-size: 100%;
                border-bottom: 3rem/@fontSize solid #333;
            }
            .skills{
                background-color: #444;
                font-size: 15rem/@fontSize;
                height: 188rem/@fontSize;
                overflow-y: scroll;
                .skill{
                    padding: 0 15rem/@fontSize;
                    line-height: 25rem/@fontSize;
                    font-size: 16rem/@fontSize;
                    padding-bottom: 10rem/@fontSize;
                }
            }
        }
        .content.yellow{
            background-color: rgb(189,161,0);
        }
        .content.red{
            background-color: rgb(175,66,50);
        }
        .content.blue{
            background-color: rgb(53,94,170);
        }
        .content.purple{
            background-color: rgb(118,84,145);
        }
        .content.green{
            background-color: rgb(12,114,77);
        }
        .content.copper{
            background-image: url("../image/铜卡.png");
        }
        .content.silver{
            background-image: url("../image/银卡.png");
        }
        .content.gold{
            background-image: url("../image/金卡.png");
        }
    }
}